# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

             * Python
             * SQL
             * Scala
             * Java
             * C++
             * Julia

### some of the popular languages that Data Scientists use are:
    1.Python
    2.SQL
    3.Java
    4.C++

### Some of the commonly used libraries used by Data Scientists include:
    1.Pandas
    2.NumPy
    3.SciPy
    4.Matplotlib

|DATA SCIENCE TOOLS|
|---|
|IDEs|
|Google Cloud|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## AUTHOR
AGILMATHI K